.ProductDetail {
    text-align: center;
}
  
    .Product-Images {
        display: block;
        width: 30%;
        height: 30%;
        box-shadow: none;
        top: 20%;
        margin: 5rem;
        border: 1px solid lightgray;
        box-shadow: 3px 3px rgba(226, 226, 226, 0.692);
        border-radius: 8px;
    }
    
    .Product-Footer {
        height: 120px;
    }
    
    .Product-Prices {
        font-size: 1.2em;
        font-weight: 500;
        margin: 0;
        padding: 19% 0;
        text-indent: -600px;
    }

    .Product-Titles {
        margin: 1rem;
        padding: 1rem;
        text-align: center;
        position: fixed;
        top: 5%;
        left: 0%;
        width:100%;
        font-family: Montserrat;
        font-size: 190%;
        font-style: normal;
    }
    
    .Product a {
        color: rgb(61, 61, 61);
        text-decoration: none;
    }
    .Product-Descriptionn {
        text-indent: 75px;
        padding: 10% 0;
        font-size: 115%;
    }

    .Product-Buton {
        background: white;
        border: 1px solid black;
        border-radius: 3px;
        color: black;
        font-size: 20px;
        line-height: 5px;
        margin: 5px;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        width: 400px;
        height: 60px;
        position: relative;
        top: 350px;
        left: -350px;
    }

    .Product-Cuotas {
        text-indent: -490px;
        padding: 15% 0;
        font-size: 85%;
    }