.Home-Tittle {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    position: fixed;
    top: 5%;
    left: 0%;
    width:100%;
    font-family: Montserrat;
    font-size: 190%;
    font-style: normal;
}